.CardBox{
	padding-top: 2vw;
	max-width:100%;
	min-width:100%;
	width: auto;
	height: auto;
}
.CardBox img{
	max-width:240;
	max-height:200px;
	width: auto;
	height: auto;
}

.CardBox .card{
	background-color: var(--white);
	color: var(--black);
}